/ClientApplicationInterface.cai
/CommandInterface.cmi
/Configuration.mdo
/ExternalConnectionModule.bsl
/HomePageWorkArea.hpwa
/MainSectionCommandInterface.cmi
/MainSectionPicture.png
/ManagedApplicationModule.bsl
/OrdinaryApplicationModule.bsl
/ParentConfigurations.bin
/SessionModule.bsl
/Splash.png
